/* RGB */
cBlue {
    color:#3EC3C6;
}

cBlue2 {
    color: #4CD8DB;
}
cPink {
    color:#f52f57;
}
cWhite {
    color:#e7ecef;
}
cDark {
    color:#272932;
}
cYellow {
    color:#d8a47f;
}

cOrange {
    color: #FF7733;
}