* {
    margin: 0;
    padding: 0;
}

cBlue2 {
    background: #4CD8DB;
}

.section-manager-container {
    /* display: flex; */
    position: fixed;
    width: 100%;
    text-align: center;
    min-height: 50px;
    background: #4CD8DB;
    color: #fff;
}

.section-manager-title {
    display: inline-block;
}

.add-section-container {
    float: right;
    line-height: 50px;
}

#form-add-section {
    visibility: hidden;
    position: absolute;
    top: 50vh;
    left: 50vh;
    transform: translate(-50%, -50%);
    background: red;
    padding: 20px;
}

button.btn-close-add-section-form {
    position: fixed;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}